@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0E0E0E;
  position: relative;
}

.container {
  width: 96%;
  margin: 0 auto;
  padding: 20px 30px 0;
}

.clearfix {
  clear: both;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
}

body {
  color: #F3F4F4;
  font-family: "GT America Trial Bl It";
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-family: "Canela Web";
  font-style: normal;
  font-size: 118px;
  font-weight: 400;
  color: inherit;
  line-height: 1;
}

p {
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.ronded-btn, .main-section__learn--more span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* left right cards section */
.card > div {
  width: 50%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 0 50px;
}
.card__image {
  margin-right: 50px;
}
.card__info > h5, .card__info > h2, .card__info > p, .card__info > div {
  margin-bottom: 20px;
}
.card__info > h5 {
  font-family: "GT America Trial Bl It";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #F3F4F4;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
}
.card__info > h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
}
.card__info > p {
  font-size: inherit;
  line-height: 27px;
}
.card__info > .min__card-info .min__card--icon {
  display: inline-block;
  position: relative;
  background-color: #656F77;
  color: white;
  cursor: pointer;
  padding: 10px 13px;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 50%;
}
.card__info > .min__card-info .min__card--icon:hover {
  background-color: #F3F4F4;
  color: #0E0E0E;
}
.card__info > .min__card-info .min__card--text {
  font-family: "GT America Trial Bl It";
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.navigation__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__item--logo img {
  cursor: pointer;
  width: 16vw;
  margin-left: -15px;
  position: relative;
  top: -20px;
}

.navigation__item--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation__item--buttons .navigation__item--button {
  background-color: #0E0E0E;
  color: #ffffff;
  width: 175px;
  padding: 10% 5%;
  position: relative;
  top: -20px;
  right: -55px;
}
.navigation__item--buttons .navigation__item--button:hover {
  background-color: rgb(42, 41, 41);
}
.navigation__item--buttons i, .navigation__item--buttons span {
  font-size: 18px;
}
.navigation__item--buttons i {
  margin-right: 15px;
}
.navigation__item--buttons .nav__button--1 {
  border-right: 1px solid white;
}

.header {
  background-image: url(url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.277), black), url("../../images/091024_Findings_Walt_0197-copy.jpg");
  min-height: 185vh;
  width: 100%;
}

.main-section {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 150px;
  width: 100%;
  height: 100%;
}
.main-section__items {
  margin-bottom: 50px;
  text-align: center;
}
.main-section__items .line {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 50%;
  height: 130px;
  border-right: 1px solid rgba(186, 197, 198, 0.8784313725);
}
.main-section__items h2 {
  position: relative;
  top: 100px;
  left: -25px;
}
.main-section__items h2 + p {
  margin-top: 120px;
  margin-bottom: 40px;
}
.main-section__learn--more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-section__learn--more span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DF072E;
  margin-right: 10px;
}
.main-section__learn--more span:hover {
  background-color: #F3F4F4;
}
.main-section__learn--more span:hover i {
  color: #0E0E0E;
}
.main-section__learn--more p {
  text-align: left;
  color: #ffffff;
}
.main-section__items--2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-section__items--2 span + span {
  border-left: 1px solid rgba(186, 197, 198, 0.8784313725);
  height: 280px;
  width: 50%;
}
.main-section__items--2 .text {
  margin-top: 100px;
  margin-left: 25px;
}
.main-section__items--2 .text-2 {
  margin-top: 30px;
  margin-left: 25px;
}
.main-section__items--2 .text-2 i {
  background-color: #656F77;
  padding: 11px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.main-section__items--2 .text-2 i:hover {
  background-color: #F3F4F4;
  color: #0E0E0E;
}

.harvard__medical .card__movies {
  background-image: url("/images/Screenshot-2025-04-03-at-3.04.35 PM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.768)), url("/images/Screenshot-2025-04-03-at-3.04.35 PM.png");
  position: relative;
  height: 300px;
  margin-left: 70px;
  margin-right: 10px;
  cursor: pointer;
}
.harvard__medical .card__movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 150px;
}
.harvard__medical .card__movie:hover .movie__play {
  border: 1px solid white;
}
.harvard__medical .card__movie:hover .movie__play .play-icon {
  background-color: white;
}
.harvard__medical .card__movie:hover .movie__play .play-icon i {
  color: black;
}
.harvard__medical .card__movie .movie__play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 1px solid red;
  border-radius: 50%;
  margin-right: 20px;
}
.harvard__medical .card__movie .movie__play .play-icon {
  padding: 10px;
  background-color: #DF072E;
  border-radius: 50%;
}
.harvard__medical .card__movie .movie__text {
  font-size: 32px;
}

/* Harvard Graduate School section */
.the__peoples {
  margin-top: 100px;
}
.the__peoples .people {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.the__peoples .people h2 {
  width: 50%;
  font-size: 66px;
}
.the__peoples .people p {
  width: 50%;
  font-size: 20px;
}

/* Harvard Graduate School section */
/* One row is 3 cards */
.section__cards {
  position: relative;
  top: 0;
  margin: 50px 30px 0;
}

.section__cards > a {
  display: inline-block;
  width: 29%;
  margin-right: 20px;
  margin-left: 25px;
  box-sizing: border-box;
}

.section__card {
  position: relative;
  height: inherit;
  overflow: hidden;
}
.section__card:nth-child(1) .card--min {
  position: absolute;
  top: 84%;
}
.section__card:nth-child(2) .card--min {
  position: absolute;
  top: 84%;
}
.section__card:nth-child(3) .card--min {
  position: absolute;
  top: 84%;
}
.section__card .card--media {
  overflow: hidden;
}
.section__card .card--media img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.4s ease 0s;
}
.section__card .card--info {
  margin-top: -5px;
  background-color: #1E1E1E;
  height: 500px;
  padding: 50px 32px 0;
}
.section__card .card--info h3 {
  position: relative;
  font-size: 36px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.1px;
}
.section__card .card--info h3::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.section__card .card--info p {
  margin-top: 15px;
  font-weight: 500;
}
.section__card .card--info p + div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section__card .card--info p + div .card__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DF072E;
  padding: 12px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.section__card .card--info p + div span + span {
  font-size: 20px;
  font-weight: 600;
}
.section__card:hover .card--media img {
  transform: scale(1.1);
}
.section__card:hover .card--info {
  background-color: rgb(80, 80, 80);
}
.section__card:hover .card--info .card__icon {
  background-color: white;
  color: #1E1E1E;
}
.section__card:hover .card--info h3::after {
  width: 100%;
}

.inporving-lives {
  display: block;
  position: relative;
  margin: 150px 60px 0;
  margin-right: 0;
}
.inporving-lives h2 {
  font-size: 64px;
  margin-bottom: 50px;
}
.inporving-lives .lives {
  display: inherit;
  position: inherit;
}
.inporving-lives .lives .lives__group {
  display: inline-block;
  width: 55%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  left: 0;
}
.inporving-lives .lives .lives__group h3, .inporving-lives .lives .lives__group h2, .inporving-lives .lives .lives__group p {
  margin-bottom: 15px;
}
.inporving-lives .lives .lives__group div {
  overflow: hidden;
}
.inporving-lives .lives .lives__group img {
  vertical-align: middle;
  transition: all 0.4s ease 0s;
}
.inporving-lives .lives .lives__group h3 {
  margin-top: 20px;
}
.inporving-lives .lives .lives__group h2 {
  position: relative;
  font-size: 50px;
  font-weight: 500;
}
.inporving-lives .lives .lives__group h2::after {
  content: "";
  content: "";
  position: absolute;
  background-color: #F3F4F4;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.inporving-lives .lives .lives__group:hover img {
  transform: scale(1.1);
  overflow: hidden;
}
.inporving-lives .lives .lives__group:hover h2::after {
  width: 100%;
}
.inporving-lives .lives .cards {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 15px;
}
.inporving-lives .lives .cards .card {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-bottom: 30px;
  margin: 0 50px 30px;
  transition: all 0.4s ease 0s;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}
.inporving-lives .lives .cards .card .card__lives--info {
  width: 68%;
  box-sizing: border-box;
}
.inporving-lives .lives .cards .card .card__lives--info h5 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
}
.inporving-lives .lives .cards .card .card__lives--info h4 {
  position: relative;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
.inporving-lives .lives .cards .card .card__lives--info h4::after {
  content: "";
  position: absolute;
  background-color: #F3F4F4;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.inporving-lives .lives .cards .card .card__lives--info p {
  letter-spacing: 0;
  font-weight: 400;
}
.inporving-lives .lives .cards .card .card__lives--img {
  width: 32%;
  margin-left: 50px;
  margin-right: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.inporving-lives .lives .cards .card .card__lives--img img {
  transition: all 0.4s ease 0s;
}
.inporving-lives .lives .cards .card:hover h4::after {
  width: 100%;
}
.inporving-lives .lives .cards .card:hover .card__lives--img img {
  transform: scale(1.1);
}

.multiple-alzheimer {
  position: relative;
  margin-top: 150px;
}
.multiple-alzheimer .multiple__cards {
  width: 100%;
  padding: 0 70px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.multiple-alzheimer .multiple__cards .multiple__card {
  width: 28%;
  padding-bottom: 50px;
}
.multiple-alzheimer .multiple__cards .multiple__card h3 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}
.multiple-alzheimer .multiple__cards .multiple__card img {
  margin-bottom: 25px;
  width: 140%;
}
.multiple-alzheimer .multiple__cards .multiple__card .image-3 {
  height: 280px;
}
.multiple-alzheimer .multiple__cards .multiple__card p {
  font-size: 20px;
}
.multiple-alzheimer .multiple__cards .multiple__card p a {
  text-decoration: underline;
  font-weight: 600;
}
.multiple-alzheimer .multiple__cards .multiple__card p a:hover {
  color: red;
}
.multiple-alzheimer .multiple__cards .multiple__card-4 {
  position: relative;
  top: -110px;
}
.multiple-alzheimer .multiple__cards .multiple__card-6 {
  position: relative;
  top: -90px;
}
.multiple-alzheimer .multiple__linear {
  margin-top: -50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.multiple-alzheimer .multiple__linear .linear {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #F3F4F4;
}

.rolling-robots {
  margin: 50px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rolling-robots .robots__image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.923), rgba(255, 255, 255, 0)), url("/images/Robobee-e1473081706400-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 1260px;
  width: 1220px;
  max-height: 820px;
  height: 920px;
}
.rolling-robots .robots__card {
  position: relative;
  top: 200px;
  left: 90px;
  width: 550px;
}
.rolling-robots .robots__card h3 {
  margin-bottom: 15px;
  font-size: 48px;
  letter-spacing: 1px;
}
.rolling-robots .robots__card p {
  display: block;
  position: relative;
  font-size: 19px;
}
.rolling-robots .robots__card p:nth-child(3) {
  margin: 25px 0;
}
.rolling-robots .robots__card p a {
  text-decoration: underline;
  font-weight: 600;
}
.rolling-robots .robots__card p a:hover {
  color: red;
}

.faculty-sciences {
  margin-top: 150px;
}
.faculty-sciences .min__card-info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.repairing-damage {
  margin: 130px 20px 0;
}
.repairing-damage .card__movies {
  background-image: url("/images/vision-human-eye2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.768)), url("/images/vision-human-eye2.jpg");
  position: relative;
  height: 300px;
  margin-left: 70px;
  margin-right: 10px;
  cursor: pointer;
}
.repairing-damage .card__movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.repairing-damage .card__movie:hover .movie__play {
  border: 1px solid white;
}
.repairing-damage .card__movie:hover .movie__play .play-icon {
  background-color: white;
}
.repairing-damage .card__movie:hover .movie__play .play-icon i {
  color: black;
}
.repairing-damage .card__movie .movie__play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 1px solid red;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 20px;
}
.repairing-damage .card__movie .movie__play .play-icon {
  padding: 10px;
  background-color: #DF072E;
  border-radius: 50%;
}
.repairing-damage .card__movie .movie__text {
  display: block;
  position: relative;
  font-size: 32px;
  width: 200%;
}

.harvard-forest {
  margin-top: 150px;
}
.harvard-forest .min__card-info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

/* Harvard Graduate School section */
.the__peoples-2 {
  margin-top: 120px;
}
.the__peoples-2 .people {
  padding-left: 50px;
  margin-bottom: -60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.the__peoples-2 .people h2 {
  width: 50%;
  font-size: 62px;
}

/* Harvard Graduate School section */
/* One row is 3 cards */
.section__cards {
  position: relative;
  top: 0;
  margin: 50px 30px 0;
}

.section__cards--group > a {
  display: inline-block;
  width: 29%;
  margin-right: 20px;
  margin-left: 25px;
  box-sizing: border-box;
  margin-top: 50px;
}

.section__card {
  position: relative;
  height: inherit;
  overflow: hidden;
}
.section__card:nth-child(1) .card--min {
  position: absolute;
  top: 84%;
}
.section__card:nth-child(2) .card--min {
  position: absolute;
  top: 84%;
}
.section__card:nth-child(3) .card--min {
  position: absolute;
  top: 84%;
}
.section__card .card--media {
  overflow: hidden;
}
.section__card .card--media img {
  width: 100%;
  height: 260px;
  vertical-align: middle;
  transition: all 0.4s ease 0s;
}
.section__card .card--info {
  margin-top: -5px;
  background-color: #1E1E1E;
  height: 500px;
  padding: 50px 32px 0;
}
.section__card .card--info h3 {
  display: inline-block;
  position: relative;
  font-size: 36px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.1px;
}
.section__card .card--info h3::after {
  content: "";
  position: absolute;
  background-color: #F3F4F4;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.section__card .card--info p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 19px;
}
.section__card .card--info p + div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section__card .card--info p + div .card__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DF072E;
  padding: 12px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.section__card .card--info p + div span + span {
  font-size: 20px;
  font-weight: 600;
}
.section__card:hover .card--media img {
  transform: scale(1.1);
}
.section__card:hover .card--info {
  background-color: rgb(80, 80, 80);
}
.section__card:hover .card--info .card__icon {
  background-color: white;
  color: #1E1E1E;
}
.section__card:hover .card--info h3::after {
  width: 100%;
}

.progress-practice {
  margin: 80px 60px 0;
}
.progress-practice h3 {
  font-size: 56px;
  position: relative;
}
.progress-practice .practice__linear {
  margin-top: 30px;
  content: "";
  width: 98%;
  height: 4.5px;
  background-color: #fff;
}
.progress-practice .exploring-the__brain {
  margin-top: -20px;
}
.progress-practice .exploring-the__brain .min__card--icon {
  background-color: #DF072E;
}

/*# sourceMappingURL=main.css.map */
