// color:
$color-white: #ffffff;
$color-whiter: #F3F4F4;

$color-bg-blacker: #0E0E0E; 

$color-gray-btn: #656F77;
$color-redder-btn: #DF072E;

$color-text-footer:#8996A0;

// size:
$container: 1140px;
$border-radius: 50%;

// fonts:
$canela: 'Canela Web';
$gt-america-trail: 'GT America Trial Bl It';